html {
    margin: 0%;
    padding: 0%;
  }

.inputname {
    width: 100%;
}
.conta .container{
    background-color: #504242;
    color: beige;
    width: 50%;
    left: auto;
    right: auto;
    margin-top: 2rem;
    padding: 2rem 0 2rem 0;
    border:black double 2px;
    border-radius: 15px;
  }
  
.names {
    margin: 0.5rem 2rem 0.5rem 2rem;
    padding: 2rem auto;
}

.btn.btn-primary {
    background-color: #301515;
    border: none;
}
.btn-primary:hover {
    background-color: orange;
}

@media (max-width: 1024px) {
    .conta .container {
        width: 85%;
        border-radius: 20px;
        border:dimgrey double 3px;
    }
}
