body html {
    margin: 0 auto;
    padding: 0 auto;
}

.inputname {
    width: 100%;
}
.conta .container{
    background-color: #504242;
    color: beige;
    /* margin: 2rem 25rem 2rem 25rem; */
    width: 50%;
    left: auto;
    right: auto;
    margin-top: 2rem;
    padding: 2rem 0 2rem 0;
  }
  
.names {
    margin: 0.5rem 2rem 0.5rem 2rem;
    padding: 2rem auto;
}  