html {
    margin: 0%;
    padding: 0%;
  }

.inputname {
    width: 100%;
}
.conta .container{
    background-color: #504242;
    color: beige;
    width: 50%;
    left: auto;
    right: auto;
    margin-top: 2rem;
    padding: 2rem 0 2rem 0;
  }
  
.names {
    margin: 0.5rem 2rem 0.5rem 2rem;
    padding: 2rem auto;
}

@media (max-width: 1024px) {
    .conta .container {
        width: 85%;
        border-radius: 20px;
        border:dimgrey double 3px;
    }
}
