.navbar-nav {
    gap: 2.5rem;
}
.texto-center {
    margin-left: 34%;
}

.nav-link.nav-active {
    border-bottom: 2px solid #dc143c; /* Estilo personalizado */
    padding-bottom: 3px; /* Ajuste a distância do texto */
    display: inline-block; /* Mantém alinhamento correto */
    transition: background-color 0s linear;
}
.nav-deactivated {
    transition: background-color 0s ease;
    border-radius: 20px; /* Evitar bug visual */
}

.nav-link.nav-deactivated:hover {
  background-color: #806D6D;
  padding: 0.5rem auto 0.5rem auto;
  border-radius: 20px;
}

@media (max-width: 1024px) {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html, body {
        margin: 0;
        padding: 0;
    }

    .navbar {
        margin: 0 !important;
        padding: 0 !important;
    }

    .navbar-brand img {
        display: block;
    }

    .container-fluid {
        padding: 0 !important;
    }


    html {
        margin: 0;
        padding: 0;
    }

    body {
        padding: 0;
        margin: 0;
    }
    .navbar-nav { 
        gap: 1.5rem;
        text-align: center;
        padding-bottom: 0.5rem;
    }
    .nav-item {
        background-color: #CAC1C1;
        width: 55%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        border: #504242 solid 2px;
    }
}