.card {
    width: 90%;
    background-color:#A49797;
    border: solid 3px gray;
}

/* Cor do modal dos produtos */
.color-modal-title-back {
    background-color: #846F6F;
    color: white;
}

.color-modal-back {
    background-color: #564545;
    color: white;
}

/* Personalização de Botões e suas etapas */
.btn {
    background-color: #504242;
    border: solid 0px;
}
.btn-primary:hover { /* Quando o mouse passa por cima do elemento */
    background-color: orange;
}
.btn-primary:active { /* Quando o mouse está pressionando o elemento */
    background-color: orange !important;
}
/* ------------------------------------------------- */

@media (max-width: 1024px) { 
    .modal {
        margin: auto;
        z-index: 1060 !important;
    }
    .card {
        width: 85%;
        animation: autoShowAnimation both;
        animation-timeline: view(70% 5%);
    }
    .card-body {
        text-align: center;
    }
    
    .btn-modal {
        background-color: #3C2424;
    }

    @keyframes autoShowAnimation {
        from{
            opacity: 0;
            transform: translateY(200px) scale(0.7);
        }to{
            opacity: 1;
            transform: translateY(0) scale(1);
        }
    }
}