.card {
    width: 90%;
    background-color:#A49797;
    border: solid 3px gray;
}

@media (max-width: 1024px) { 
    .card {
        width: 85%;
    }
    .modal {
        margin-top: 10%;
        z-index: 1060 !important;
    }
    
}