@media (max-width: 1024px) {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html, body {
        margin: 0;
        padding: 0;
    }

    .navbar {
    margin: 0 !important;
    padding: 0 !important;
    }

    .navbar-brand img {
    display: block;
    }

    .container-fluid {
    padding: 0 !important;
    }


    html {
        margin: 0;
        padding: 0;
    }

    body {
        padding: 0;
        margin: 0;
    }

    #carouselExample {
        display: none;
    }

    .descricao {
        margin-top: 2rem;
        margin-inline: 2.5rem;
    }
    .descricao h3 {
        font-size: large;
    }
    .descricao p {
        margin-inline: 1rem;
        font-size: small;
        }
    .descricao img {
        width: 50%;
        }
    
    .card {
        animation: autoShowAnimation both;
        animation-timeline: view(70% 5%);
        }

    @keyframes autoShowAnimation {
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.7);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    }



    footer .contatos{
        display: flex;
        gap: 1rem;
        margin: 0 0 0 0;
        border-radius: 0px;
        }
        footer p {
        font-size: small;
        }
        .contatos img {
            width: 40px;
            height: 40px;
        }
        .c {
            font-size: 0.5rem;
        }
}