html {
  margin: 0%;
  padding: 0%;
}
.carousel {
    margin-inline: 5rem;     
  }
  
  .carousel img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

.descricao {
  background-color: #A49797;
  text-align: center;
  border: 3px solid #504242;
  border-radius: 20px;
  margin: 0rem 8rem 0rem 8rem;
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}

@keyframes autoShowAnimation {
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.7);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
.descricao p {
  margin-inline: 5.5rem;
  font-size: large;
}
.descricao img {
  margin: 1.5rem 0 1rem 0;
  width: 10%;
  border: 3px solid #504242;
  border-radius: 20px;
}

